@{
    ViewBag.Title = "Usuarios";
}

<h2>Panel de Usuarios</h2>



<div id="FormularioTablaUsuario">
    @Html.Partial("_FormularioDeUsuario")
</div>

<div id="ContenedorDeTablaUsuario">
    @Html.Action("TablaDeUsuarios")
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
@Scripts.Render("~/bundles/ScriptsGlobales")

<script>

    $("#GuardarUsuario").click(function () {
        var usuario = $("#Usuario").val();
        var contrasena = $("#Password").val();
        var responsable = $("#Responsable").val();
        var nivel = $("#Nivel").val();
        CrearNuevoUsuario(usuario, contrasena, responsable, nivel);

    });


    function listarUsuarios() {
        $.get("../api/usuarios", function (usuarios) {
            usuarios.forEach(function (usuario) {
                console.log(usuario.Usuario);
            });
        })
    }

    function NuevoUsuario() {
        this.Usuario = "";
        this.Contrasena = "";
        this.Responsable = "";
        this.Nivel = "";
        this.Estado = true;
        return this;
    }

    function CrearNuevoUsuario(Usuario, Contrasena, Responsable, Nivel) {
        var nuevoUsuario = new NuevoUsuario();
        nuevoUsuario.Usuario = Usuario;
        nuevoUsuario.Contrasena = Contrasena;
        nuevoUsuario.Responsable = Responsable;
        nuevoUsuario.Nivel = Nivel;
        $.ajax({
            url: "../api/usuarios",
            type: "POST",
            data: JSON.stringify(nuevoUsuario),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (resulta) {
                actualizarTabla();
                actualizarFormulario();
                alert("Se guardo el nuevo usuario con exito")
            }
        });
    }

    function actualizarTabla() {
        $.get("/Usuarios/TablaDeUsuarios", function (htmlData) {
            $("#ContenedorDeTablaUsuario").html(htmlData);
        });
    }

    function actualizarFormulario() {
        $.get("/Usuarios/_FormularioDeUsuario", function (htmlData) {
            $("#FormularioTablaUsuario").html(htmlData);
        });
    }

    function FormularioUsuario() {
        var self = this;
        self.Usuario = ko.observable("");
        self.Contrasena = ko.observable("");
        self.Responsable = ko.observable("");
        self.Nivel = ko.observable("");
        self.LimpiarFormulario = function () {
            self.Usuario("");
            self.Contrasena("");
            self.Responsable("");
            self.Nivel("");
        }
        return self;
    }

    var formularioViewModel = new FormularioUsuario();
    var formularioHTML = document.getElementById("FormularioTablaUsuario");
    ko.applyBindings(formularioViewModel, formularioHTML);
</script>



