
@{
    ViewBag.Title = "Index";
}

<h2>Tabla de Productos</h2>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
@Scripts.Render("~/bundles/ScriptsGlobales")

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Precio</td>
        </tr>
    </thead>
</table>

